<div><img src="/assets/img/hamburger-LT.png" class="center" alt="Powered by Giphy"></div>
<h1 class="textcenter">Eat-Da-Burger!</h1>

<ul>
    {{#each burgers}}
    <li>
        <p>
            {{this.id}}. {{this.burger_name}}

            <button data-burgerid="{{this.id}}" class="eat-burger">Devour It!</button>
        </p>
    </li>
    {{/each}}
</ul>

    
<form id="btnform" class="inputbutton textcenter">
    <input type="text" class="inputbox" id="burgerinput">
    <p><input id="addburger" class="bluebutton" type="submit" value="Submit"></p>
</form>

<h5 class="textcenter">Enter the name of a burger you want to eat. Click the "Submit" button.</h5>


<script type="text/javascript">


    $("#addburger").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        let newBurger = {
            burger_name: $("#burgerinput").val().trim(),
            devoured: false
        };

        // Send the POST request.
        {{!-- $.ajax("/movies", {
            type: "POST",
            data: newMovie
        }).then(
            function () {
                console.log("added new movie");
                // Reload the page to get the updated list
                location.reload();
            }
        ); --}}
    });

    $("#data-burgerid").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        // Send the PUT request.
        {{!-- $.ajax("/movies/" + id, {
            type: "PUT",
            data: updatedMovie
        }).then(
            function () {
                console.log("updated id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
        ); --}}
    });
</script>